//字体大小
.font-16{
  font-size: .16rem !important;
}
.font-20{
  font-size: .20rem !important;
}
.font-22{
  font-size: .22rem !important;
}
.font-24{
  font-size: .24rem !important;
}
.font-26{
  font-size: .26rem !important;
}
.font-28{
  font-size: .28rem !important;
}
.font-30{
  font-size: .30rem !important;
}
.font-32{
  font-size: .32rem !important;
}
.font-34{
  font-size: .34rem !important;
}
.font-36{
  font-size: .36rem !important;
}
.font-38{
  font-size: .38rem !important;
}
.font-40{
  font-size: .40rem !important;
}